[project]
name = "WebSearcher"
version = "0.5.0"
description = "Tools for conducting, collecting, and parsing web search"
authors = [{name = "Ronald E. Robertson", email = "<rer@acm.org>"}]
keywords = ["web", "search", "parser"]
license = "GPL-3.0"
readme = "README.md"
requires-python = ">=3.9"
dependencies = [
    "requests>=2.32.3",
    "lxml>=5.3.0",
    "beautifulsoup4>=4.12.3",
    "tldextract>=5.1.2",
    "brotli>=1.1.0",
    "pydantic>=2.9.2",
    "pandas>=2.2.3",
]

[project.urls]
homepage = "http://github.com/gitronald/WebSearcher"
repository = "http://github.com/gitronald/WebSearcher"

[project.scripts]
demo-search = 'scripts.demo_search:main'

[tool.poetry]
packages = [{include = "WebSearcher"}]

[tool.poetry.group.dev]
optional = true

[tool.poetry.group.dev.dependencies]
pytest = "^8.3.4"
syrupy = "^4.8.1"
ipykernel = "^6.29.5"

[build-system]
requires = ["poetry-core>=2.0.0,<3.0.0"]
build-backend = "poetry.core.masonry.api"
